---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-8;
}

@import "minimal-mistakes";
